@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-hggothicssi);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.red-button {
  background-color: #d91e18;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.red-button:hover {
  background-color: #b01512;
}

.start-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.start-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.main-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.main-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.button {
  background-color: #333;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: left;
}

.button:hover {
  background-color: #555;
}

.result-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative; 
}

.fixed-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
