@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-hggothicssi);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.red-button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  background-color: #830D00;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.red-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%; 
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
  pointer-events: none;
}

.red-button:hover {
  background-color: #A52A2A; 
  transform: scale(1.05);
}

.button-style {
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.button-style:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.start-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: white;
}

.start-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.main-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.main-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.button {
  background-color: #333;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: left;
}

.button:hover {
  background-color: #555;
}

/* .result-page { */
  /* position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.result-background {
  position: absolute;
  inset: 0;
  z-index: -1;
} */

.fixed-header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.page-count {
  position: absolute;
  top: 42px;
  right: 35px;
  margin: auto;
  z-index: 100;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

@font-face {
  font-family: 'HGGothicssi';
  src: url('../font/HGGothicssi_00g.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HGGothicssi';
  src: url('../font/HGGothicssi_20g.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HGGothicssi';
  src: url('../font/HGGothicssi_40g.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HGGothicssi';
  src: url('../font/HGGothicssi_60g.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HGGothicssi';
  src: url('../font/HGGothicssi_80g.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.font-hggothicssi-200 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 200;
}

.font-hggothicssi-400 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 400;
}

.font-hggothicssi-600 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 600;
}

.font-hggothicssi-700 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 700;
}

.font-hggothicssi-800 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 800;
}

.font-hggothicssi-900 {
  font-family: 'HGGothicssi', sans-serif;
  font-weight: 900;
}